body {
    font-family: sans-serif;
    margin: 20px;
    line-height: 1.5;
}

img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

figure {
    margin: 0;
    padding: 10px;
    border: 2px solid #ddd; 
    background-color: #f9f9f9; 
}

.gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}
@media (min-width: 772px) {
    .gallery {
        /* 5a. Sử dụng lưới hai cột */
        grid-template-columns: 1fr 1fr;
    }

    .gallery img {
        border-radius: 50%;
        aspect-ratio: 1 / 1;
    }
    .gallery figure:last-child {
        grid-column: span 2;
    }
}
@media (min-width: 992px) {
    .gallery figure:nth-child(3n) {
        grid-column: span 2;
    }
    .gallery figure:last-child:not(:nth-child(3n)) {
        grid-column: auto; /* Hoặc span 1 */
    }
    .gallery img {
        border-radius: 0;
    }
}
@media (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
    
    *, *::before, *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #222; 
        color: #fff;
    }

    .gallery figure {       
        background-color: #333;
        border-color: black;
    }

    .gallery figure p {
        color: #ffd700;
    }
}
